body {
    background: black;
}
h1 {
    text-align: center;
    color: white;
    size: 25px;
}
nav.filter {
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-top: 60px;
}
img {
    padding: 20px;
    height: 500px;
    width: 300px;
}
.container__movielist{
    display: flex;
    flex-wrap: wrap;
}
